<h3>Houses</h3>

<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
  </thead>
  <tbody>
    {{#each houses}}
    <tr>
      <td>{{id}}</td>
      <td>{{name}}</td>
    </tr>
    {{/each}}
  </tbody>

</table>